.factorGroup,#studentInfoDiv,#generateDiv{
  background:#E8E9EE;
}
.input-group-text{
  background:#CAD6E2;
}
@media (min-width: 768px) {
  .sticky-column {
      position: sticky;
      top: 0;
  }
}